#title {
    line-height: 100% !important;
}

.outer h1,
.outer h2 {
    text-align: left !important;
}

.section .section {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.mermaid {
    max-width: none !important;
}

.mermaid svg {
    max-width: none !important;
}

#data-apache-arrow {
    padding-top: 10px;
}

.figcaption {
    font-size: 20pt;
    font-style: italic;
}

.main strong {
    color: #000000 !important;
}

#author,
#author sup,
a {
    color: #164E63 !important;
}

img.main-img-right {
    width: 95% !important;
    bottom: 0.6in !important;
}

img.main-img-left {
    width: 30% !important;
    bottom: 0.6in !important;
}

.main p {
    padding-top: 5% !important;
    ;
}

.outer h2 {
    margin-bottom: 0px;
}

.main_pic {
    width: 85% !important;
}

li {
    text-align: left;
}
